.full-width{
  width: 100%;
}


button:enabled {
  background-color :rgb(28, 104, 151);
  color : white
}


span {
  cursor: pointer;
}

span:hover {
background-position: right center;
//background-color: #3e8e41/* change the direction of the change here */
}

span:active {
//background-color: #3e8e41;
box-shadow: 0 5px white;
transform: translateY(5px);
}


.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

// .col1 {
//   flex: 1;
//   // margin-right: 5px;
// }

.col:last-child {
  margin-right: 0;
}

table {
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

body {
	padding:$base-spacing-unit;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	// min-height:100vh;
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
	width:100%;
	background:rgb(28, 104, 151);
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;

	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

}

i {
  cursor: pointer;
}

i:hover {
background-position: right center;
transform: translateY(-5px);
//background-color: #3e8e41/* change the direction of the change here */
}

i:active {
//background-color: #3e8e41;
box-shadow: 0 5px white;
transform: translateY(5px);
}
