<form [formGroup]="editForm">
  <mat-card class="background">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title style="font-size:larger; font-weight: bold; color: rgb(28, 104, 151);"> EDIT BASE </mat-card-title>
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-header>
         <button style="margin-left: auto;" mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onClick="history.back()">
            <span class="material-icons" style="color: white;">exit_to_app</span>
          </button>
        </mat-card-header>
      </div>
    </div><br>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Type" formControlName="type">
            <mat-option *ngFor="let item of type" [value]="item.type">
              {{item.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Project Name" formControlName="projectId">
            <mat-option *ngFor="let item of project$ | async" [value]="item.id">
              {{item.projectName}}
            </mat-option>
            &nbsp;&nbsp; &nbsp;&nbsp;<span class="material-icons" style="font-size: 30px; color: rgb(28, 104, 151);">playlist_add</span>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions>
      <button  mat-raised-button  type="button" (click)="getProjectBase()" [disabled]="!editForm.valid">
        GET
      </button>&nbsp;&nbsp;
    </mat-card-actions>
  </mat-card>
</form><br>


<mat-card *ngIf="base.length != 0">
  <mat-card-content>
    <div class="container">
      <div class="table" *ngIf="projectName === 'asianetcollections'">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Subcode</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">MobileNumber</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Telecaller</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Manage</a></div>
        </div>
        <div class="table-content">
          <div class="table-row" *ngFor="let i of base">
            <div class="table-data">{{i.Name}}</div>
            <div class="table-data">{{i.Subcode}}</div>
            <div class="table-data">{{i.Mobile}}</div>
            <div class="table-data">
              <a *ngIf="i.teleCaller">{{i.teleCaller.name}}</a>
              <a *ngIf="i.caller">{{i.caller.name}}</a>
            </div>
            <div class="table-data">
              <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editBase(i.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteBase(i.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="table" *ngIf="projectName === 'asianetsales'">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Subcode</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">MobileNumber</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Telecaller</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Manage</a></div>
        </div>
        <div class="table-content">
          <div class="table-row" *ngFor="let i of base">
            <div class="table-data">{{i.Name}}</div>
            <div class="table-data">{{i.Subcode}}</div>
            <div class="table-data">{{i.Mobile}}</div>
            <div class="table-data">
              <a *ngIf="i.teleCaller">{{i.teleCaller.name}}</a>
              <a *ngIf="i.caller">{{i.caller.name}}</a>
            </div>
            <div class="table-data">
              <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editBase(i.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteBase(i.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="table" *ngIf="projectName === 'vicollections'">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Subcode</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">MobileNumber</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Telecaller</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Manage</a></div>
        </div>
        <div class="table-content">
          <div class="table-row" *ngFor="let i of base">
            <div class="table-data">{{i.Name}}</div>
            <div class="table-data">{{i.Subcode}}</div>
            <div class="table-data">{{i.Mobile}}</div>
            <div class="table-data">
              <a *ngIf="i.teleCaller">{{i.teleCaller.name}}</a>
              <a *ngIf="i.caller">{{i.caller.name}}</a>
            </div>
            <div class="table-data">
              <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editBase(i.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteBase(i.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="table"  *ngIf="projectName === 'visales'">
        <div class="table-header">
          <div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
          <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Subcode</a></div>
          <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">MobileNumber</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Telecaller</a></div>
          <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Manage</a></div>
        </div>
        <div class="table-content">
          <div class="table-row" *ngFor="let i of base">
            <div class="table-data">{{i.custName}}</div>
            <div class="table-data">{{i.campionName}}</div>
            <div class="table-data">{{i.currentPlan}}</div>
            <div class="table-data">
              <a *ngIf="i.teleCaller">{{i.teleCaller.name}}</a>
              <a *ngIf="i.caller">{{i.caller.name}}</a>
            </div>
            <div class="table-data">
              <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editBase(i.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteBase(i.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
