
  <div class="container">
    <div class="backgrnd">

    </div>

    <div class="screen">
      <div class="screen__content">

        <form class="login" [formGroup]="loginForm">

          <div class="login__field">
            <h1><b><a style="color: #ee3d97;">TEAM</a>&nbsp;&nbsp; <a style="color: #1a4685;">TELECOM</a></b> </h1>
          </div>

          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="EmployeeNo" formControlName="employeeNo">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Password" formControlName="password">
          </div>

          <button class="button login__submit" (click)="onSubmit()">
            <span class="button__text">Log In Now</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>

        </form>
        <!-- <div class="social-login">
          <h3>log in via</h3>
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div> -->
      </div>
      <!-- <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div> -->
    </div>
  </div>
