
<h2>TASKS</h2>
<div class="table-wrapper">
    <table class="fl-table">

        <thead>
        <tr>
            <th>NAME</th>
            <th>PHONE NUMBER</th>
            <th>PROJECT</th>
            <th>MANAGE</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of follow">
            <td>
              <a *ngIf="content.project.projectName.toLowerCase() === 'bsnl'">{{content.firstName}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'asianetsales'">{{content.Name}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'asianetcollections'">{{content.Name}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'bajaj'">{{content.bajaj_base.name}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'visales'">{{content.custName}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'vicollections'">{{content.Name}}</a>
            </td>

            <td>
              <a *ngIf="content.project.projectName.toLowerCase() === 'bsnl'">{{content.mobile}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'asianetsales'">{{content.Mobile}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'asianetcollections'">{{content.Mobile}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'bajaj'">{{content.mobile}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'visales'">{{content.mobileNumber}}</a>
              <a *ngIf="content.project.projectName.toLowerCase() === 'vicollections'">{{content.Mobile}}</a>
            </td>
            <td>
              {{content.project.projectName | uppercase}}- Followup<br>{{content.time}}
            </td>
            <td>
              <mat-icon (click)="openCustomerFollowup(content.id, content.project.id)">phone</mat-icon>
            </td>
        </tr>

        <tr *ngFor="let content of paginatedData">
          <td>
            <a *ngIf="content.project.projectName.toLowerCase() === 'bsnl'">{{content.firstName}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'asianetsales'">{{content.Name}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'asianetcollections'">{{content.Name}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'bajaj'">{{content.name}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'visales'">{{content.custName}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'vicollections'">{{content.Name}}</a>
          </td>

          <td>
            <a *ngIf="content.project.projectName.toLowerCase() === 'bsnl'">{{content.mobile}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'asianetcollections'">{{content.Mobile}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'asianetsales'">{{content.Mobile}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'bajaj'">{{content.mobile}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'visales'">{{content.mobileNumber}}</a>
            <a *ngIf="content.project.projectName.toLowerCase() === 'vicollections'">{{content.Mobile}}</a>
          </td>
          <td>
            {{content.project.projectName | uppercase}}
          </td>
          <td>
            <mat-icon (click)="openCustomer(content.id, content.project.id)">phone</mat-icon>
          </td>
      </tr>
    <tbody>
  </table>
  <mat-paginator [length]="data.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
</div>
