<section class="home_layout">

  <div id="section_bg" class="background">
    <mat-grid-list gutterSize="10px" cols="5" rowHeight="2:2">

      <mat-grid-tile>
        <button mat-fab class="btn btn" aria-label="Example icon button with a bookmark icon"  routerLink="role">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">badge</span>
        </button>
        <div class="button_align">Role</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-fab class="btn btn" aria-label="Example icon button with a bookmark icon" routerLink="user">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">assignment_ind</span>
        </button>
        <div class="button_align">User</div>
      </mat-grid-tile>
      <mat-grid-tile class="container">
        <button class="btn btn" mat-fab aria-label="Example icon button with a bookmark icon" routerLink="projecttype">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">summarize</span>
        </button>
        <div class="button_align">ProjectType</div>
      </mat-grid-tile>

      <mat-grid-tile class="container">
        <button class="btn btn" mat-fab aria-label="Example icon button with a bookmark icon" routerLink="status">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">tour</span>
        </button>
        <div class="button_align">Status</div>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-fab class="btn btn" aria-label="Example icon button with a bookmark icon" routerLink="deletebase">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">delete_forever</span>
        </button>
        <div class="button_align">DeleteBase</div>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-fab class="btn btn" aria-label="Example icon button with a bookmark icon" routerLink="handover">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">swap_horiz</span>
        </button>
        <div class="button_align">HandOver</div>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-fab class="btn btn" aria-label="Example icon button with a bookmark icon" routerLink="editbase">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">edit</span>
        </button>
        <div class="button_align">EditBase</div>
      </mat-grid-tile>

      <!-- <mat-grid-tile>
        <button mat-fab class="btn btn" aria-label="Example icon button with a bookmark icon">
          <span class="material-icons" style="color: rgb(255, 255, 255); font-size: 45px;">person_remove</span>
        </button>
        <div class="button_align">DELETE CLIENTS</div>
      </mat-grid-tile> -->
    </mat-grid-list>
  </div>
</section>





